BALE_BOT_TOKEN=CHANGE_ME
BALE_PROVIDER_TOKEN=CHANGE_ME
BALE_BOT_USERNAME=YourBotUsername

BALE_USE_LONG_POLLING=true
BALE_LONG_POLLING_TIMEOUT_SECONDS=25

BALE_ADMIN_USER_ID=000000000
BALE_GROUP_CHAT_ID=0000000000

ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD